html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  color: black;
  font-size: 62.5%;
}
html {
  background-color: #252525;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Main Primary color */
/* Main Secondary color (2) */
/* Main Secondary color (1) */
.box {
  width: 15%;
  height: 100%;
}
.colorpalette {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}
.color {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 20%;
}
.b .one {
  background-color: #A56699;
}
.b .two {
  background-color: #924784;
}
.b .three {
  background-color: #7E2B6E;
}
.b .four {
  background-color: #6C185C;
}
.b .five {
  background-color: #59074A;
}
.a .one {
  background-color: #96C87C;
}
.a .two {
  background-color: #76B257;
}
.a .three {
  background-color: #589935;
}
.a .four {
  background-color: #41841D;
}
.a .five {
  background-color: #2C6C09;
}
.c .one {
  background-color: #E6E08F;
}
.c .two {
  background-color: #CCC664;
}
.c .three {
  background-color: #B0A93D;
}
.c .four {
  background-color: #979021;
}
.c .five {
  background-color: #7D760A;
}
h1 {
  color: #009a22;
  font-size: 5rem;
  text-align: center;
}
h2 {
  color: #009a22;
  font-size: 2.5rem;
  text-align: center;
  padding: 1rem 0;
}
a {
  color: #009a22;
  font-size: 2.5rem;
}
a:hover {
  color: black;
  background-color: #009a22;
}
html,
body {
  height: 100%;
}
.landingpage {
  background: #252525;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.landingpage .quals {
  display: flex;
  padding: 3rem 0;
}
@media (max-width: 800px) {
  .landingpage .quals {
    flex-direction: column;
  }
  .landingpage .quals .break {
    display: none;
  }
}
.landingpage .choose {
  display: flex;
}
@media (max-width: 800px) {
  .landingpage .choose {
    flex-direction: column;
  }
}
.landingpage .button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 4rem;
  border: 0.2rem solid #009a22;
  border-radius: 1rem;
  margin: 1rem 2rem;
}
.personalpage {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.personalpage p {
  text-align: center;
  color: #009a22;
  font-size: 2rem;
}
.personalpage .info {
  height: 10%;
  vertical-align: bottom;
  padding-top: 50px;
}
.personalpage .hidden {
  height: 90%;
  width: 50%;
}
.personalpage .hidden p {
  color: black;
}
