
html, body {
    height: 100%;
}

.landingpage {
    
    background: @landingbackground;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .quals {
        display: flex;
        padding: 3rem 0;

        @media @landingpage-break {
            flex-direction: column;
            .break {
                display: none;
            }
        }
    }

    .choose {
        display: flex;

        @media @landingpage-break {
            flex-direction: column;
        }
    }
    
    .button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // padding: 1.2rem 3.2rem;
        width: 20rem;
        height: 4rem;
        border: 0.2rem solid @landingcolour;
        border-radius: 1rem;
        margin: 1rem 2rem;
    }
}