
@landingpage-break: ~"(max-width: 800px)";


// colours
@landingbackground: #252525;
@landingcolour: @prim-2;

@prim-0: #A56699;
@prim-1: #924784;
@prim-2: #7E2B6E;	/* Main Primary color */
@prim-3: #6C185C;
@prim-4: #59074A;

@second-0: #96C87C;
@second-1: #76B257;
@second-2: #589935;	/* Main Secondary color (2) */
@second-3: #41841D;
@second-4: #2C6C09;

@third-0: #E6E08F;
@third-1: #CCC664;
@third-2: #B0A93D;	/* Main Secondary color (1) */
@third-3: #979021;
@third-4: #7D760A;


.box {
    width: 15%;
    height: 100%;
}

.colorpalette {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

.color {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 20%;
}

.b {
    .one {background-color: @prim-0;}
    .two {background-color: @prim-1;}
    .three {background-color: @prim-2;}
    .four {background-color: @prim-3;}
    .five {background-color: @prim-4;}
}

.a {
    .one {background-color: @second-0;}
    .two {background-color: @second-1;}
    .three {background-color: @second-2;}
    .four {background-color: @second-3;}
    .five {background-color: @second-4;}
}

.c {
    .one {background-color: @third-0;}
    .two {background-color: @third-1;}
    .three {background-color: @third-2;}
    .four {background-color: @third-3;}
    .five {background-color: @third-4;}
}

// div {
//     border: 1px solid red;
// }